
.Background img{
    width: 50%;
    max-height: 1000px;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: -1;
}
.Charactor img{
    position: absolute;
    z-index: -1;
    

}

/* Hero section text */
.Title{
    margin-top: 50px;
    margin-left: 30px;
    background-color: white;
    border-radius: 10px;
    width: 250px;
}
.Title span{
    font-weight: 700;
}
.Title p{
    font-size: 30px;
    margin-left: 0px;
}
.SearchTag {
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
}
.SearchTag p{
    margin-left: 10px;
    color: black;
    font-weight: 700;
}
.SearchTag p span{
    color: #218838;
}
.SearchBar img{
    background-color: #218838;
    padding: 3px 8px;
}
.SearchBar input{
    width: 250px;
    height: 30px;
    padding-left: 30px;
    font-size: 18px;
    padding-top: 0;
    border: none;
    background-color: transparent;
    outline: none;
}
.SearchBar{
    background-color: #e0e0e0;
    width: 300px;
    margin-left: 20px;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;

}



@media screen and (max-width: 768px) {
    .Charactor img{
        height: 300px;
        top: 100px;
        bottom: 0;
        right:0;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .Charactor img{
        height: 350px;
        top: 150px;
        right:250px;
    }
    .Title{
        margin-top: 100px;
        margin-left: 60px;
    }
    .SearchTag{
        margin-top: 50px;
        margin-left: 60px;
    }
    .SearchBar{
        margin-left: 50px;
    }
}
@media screen and (min-width: 1025px) and (max-width: 2440px) {
    .Charactor img{
        height: 700px;
        top: 100px;
        right:300px;
    }
    .Title{
        margin-top: 100px;
        margin-left: 60px;
    }
    .SearchTag{
        margin-top: 50px;
        margin-left: 60px;
    }
    .SearchBar{
        margin-left: 50px;
    }
}

