/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    margin-top: 10px;
    background-color: transparent;
    
  }
  
  /* Logo */
  .logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  /* Nav Links */
  .nav-links {
    display: flex;
    list-style: none;
    background-color: #444; 
    padding: 10px;
    border-radius: 50px;
    background: #F6FAF9;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);

  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;

  }
  
  .nav-links a:hover {
    background-color: #e0e0e0;
    border-radius: 20px;
    
  }
  
  /* Tasker button style */
  .tasker-btn {
    border: #218838 1px solid;
    padding: 8px 15px;
    border-radius:20px;
    font-weight: bold;
    color: white;
  }
  
  .tasker-btn:hover {
    background-color: #e0e0e0;


  }
  
  /* Mobile Menu Icon */
  .mobile-menu-icon {
    display: none;
    font-size: 24px;
    color: rgb(0, 0, 0);
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .nav-links-mobile {
    display: none;

  }
  .Navbar {
    position: fixed;
    width: 100%;
    top: -100px; /* Hidden initially */
    transition: top 0.5s ease-in-out; /* Smooth transition */
    background-color: #333; /* Example background */
    color: white;
    padding: 20px;
    z-index: 1000;
  }
  
  .Navbar.show {
    top: 0; /* Navbar slides down */
  }
  
  /* Mobile Responsive Styles */
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none; /* Hide nav-links on small screens */
    }
  
    .mobile-menu-icon {
      display: block;
    }
  
    .nav-links-mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #F6FAF9; /* Same background color for mobile nav-links */
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      z-index: 1;
      padding: 10px;
    }
  
    .nav-links-mobile li {
      margin: 15px 0;
      list-style: none;
    }
  
    .nav-links-mobile a {
      font-size: 20px;
      text-decoration: none;
      color: black;

    }
  }
  @media screen and (max-width: 900px){
    .nav-links li {
        margin-left: 3px;
      }
  }
  