.App {
    text-align: center;
}

.card-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 250px;
    border-radius: 8px;
    background-color: #fff;
}

.card h3 {
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    color: #28a745;
}